@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor;
@using HRMS.Admin.UI.Helpers;
@using HRMS.Core.Entities.Organisation;
@using HRMS.Core.Entities.Payroll;
@{
    var companyDetails = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<Company>("companyDetails");
    var todayDate = DateTime.Now.ToLongDateString();
    var employeeName = HttpContextAccessor.HttpContext.Session.GetString("UserName");
    var roleId = HttpContextAccessor.HttpContext.Session.GetString("RoleId");
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@companyDetails.Name</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="~/resources/dist/img/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="@companyDetails.FavIcon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link href="~/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="~/resources/dist/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/resources/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <link href="~/resources/dist/css/skins/skin-blue.min.css" rel="stylesheet" type="text/css" />
    <link href="~/resources/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/resources/dist/css/custom.css?v=1.3" rel="stylesheet" type="text/css" />
    <link href="~/resources/dist/css/selector.css?v=1" rel="stylesheet" />
    <link href="~/resources/dist/css/loader.css" rel="stylesheet" type="text/css" />
    <script src="~/resources/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="~/resources/dist/js/jquery.dataTables.js" type="text/javascript"></script>
    <script src="~/resources/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/resources/dist/js/app.min.js" type="text/javascript"></script>
    <link href="~/resources/dist/css/rnr.css?v=1.2" rel="stylesheet" type="text/css" />
    <link href="~/resources/dist/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/resources/dist/css/build.css" rel="stylesheet" type="text/css" />
    <link href="~/resources/dist/css/custom-fonts.css" rel="stylesheet" type="text/css" />
    <link href="~/resources/dist/css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="~/resources/dist/css/owl.theme.css" rel="stylesheet" type="text/css" />

    <script src="~/AlertifyJs/src/js/alert.js"></script>
    <script src="~/AlertifyJs/src/js/confirm.js"></script>
    <script src="~/Custom/Custom.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"
            integrity="sha256-PAC000yuHt78nszJ2RO0OiDMu/uLzPLRlYTk8J3AO10="
            crossorigin="anonymous"></script>
    <style>

        /* * {
            font-family: 'Montserrat', sans-serif !important;
        }*/

        .modal.fade .modal-dialog {
            transform: translate(0);
            margin: 0 0 0 auto;
            height: 100%
        }

        .modal-content {
            height: 100%
        }

        .modal-footer {
            width: 100%;
            position: absolute;
            bottom: 0;
            right: 0;
        }

        .ui-widget-content {
            z-index: 9999999 !important;
        }

        #myModalProgressContainer {
            display: none;
        }

        .sub-links > li > a {
            color: #777 !important;
        }

        .etrainerbuttonClass {
            padding: 5px 5px;
            text-decoration: none;
            border: solid 1px black;
        }

        .logo, .logo-lg, .logo-mini {
            background-color: #3a3a3a;
        }

        .logo {
            padding: 0 !important;
        }

        .logo-lg {
            padding: 0 !important;
        }

            .logo-lg img {
                width: 220px;
                background: white;
            }

        .skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
            background-color: #4d4d4d;
        }
    </style>
    <link href="~/resources/plugins/jQueryUI/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/resources/plugins/jQueryUI/jquery-ui.min.js"></script>

    <script src="~/resources/plugins/toastr/toastr.min.js"></script>
    <script src="~/resources/dist/js/jquery.MultiFile.js"></script>
    <script src="~/resources/dist/js/custom.js?v=3"></script>
    <link href="~/AlertifyJs/build/css/themes/bootstrap.css" rel="stylesheet" />
    <script src="~/AlertifyJs/build/alertify.js"></script>
    <link href="~/AlertifyJs/build/css/alertify.css" rel="stylesheet" />
    <script src="~/AlertifyJs/build/alertify.js"></script>
    <link href="~/resources/dist/css/rnr.css?v=1.2" rel="stylesheet" />
    <link href="~/resources/dist/css/iconmoon.css" rel="stylesheet" />
    <link href="~/resources/dist/css/index.css?v=1.2" rel="stylesheet" />
    <script src="~/resources/dist/js/owl.carousel.min.js"></script>
    <script src="~/resources/dist/js/pie-chart.js"></script>
    <style>
        .custom-links {
            overflow: hidden;
            border-radius: 3px;
            background-color: rgb(0, 178, 121);
            border-bottom: 4px solid #008057;
            width: 100%;
            height: 54px;
            text-align: center;
        }

            .custom-links > .heading {
                margin-top: 4px;
                font-size: 16px;
                font-weight: bold;
                color: #fff;
            }

                .custom-links > .heading span {
                    position: absolute;
                    top: -10px;
                    right: 4px;
                }

            .custom-links > .sub-heading {
                font-size: 14px;
                color: #fff;
                margin-top: -5px;
            }

            .custom-links.red {
                background-color: #C9302C;
                border-bottom: 4px solid #D02A25;
            }

            .custom-links > .heading-solo {
                margin-top: 4px;
                font-size: 14px;
                color: #fff;
            }

                .custom-links > .heading-solo span {
                    position: absolute;
                    top: -10px;
                    right: -5px;
                }

        .overlay-hover {
            position: absolute;
            top: 2%;
            left: 35%;
            opacity: 0.5;
        }

        .custom-links > .heading-solo:hover .overlay-hover {
            opacity: 0.2;
        }

        .videoBox {
            display: block;
            width: 350px;
            height: 220px;
            position: fixed;
            bottom: 0;
            right: 0;
            z-index: 9999;
            transition: .5s;
        }

            .videoBox.hide {
                right: -700px;
                transition: .5s;
            }

            .videoBox iframe {
                width: 100%;
                height: 100%
            }

            .videoBox .closeBtn {
                padding: 5px;
                width: 35px;
                height: 35px;
                background: #dd4b39;
                color: #f4f4f4;
                border-radius: 50px;
                position: absolute;
                top: -20px;
                left: -20px;
                text-align: center;
                font-size: 17px;
                display: block;
                cursor: pointer
            }
    </style>

    <style>
        .popupBG .topBox .sliderrbox .owl-carousel .owl-item .item .circle img {
            width: 105px !important;
            height: 105px !important;
            border-radius: 50% !important;
        }

        .popupBG .close em {
            z-index: 999;
        }
    </style>
    <style>
        .flexBox {
            display: flex;
        }

        .homePage {
            width: 100%;
            margin-right: 15px;
        }

            .homePage:last-child {
                margin: 0px;
            }
    </style>

    <style>

        .table-fixed {
            height: 292.71px;
            width: 100%;
            overflow-y: auto;
        }

        .trendingTab {
            display: block
        }

            .trendingTab ul {
                padding: 0;
                margin: 0;
                display: block;
                overflow: hidden;
                overflow-x: auto;
                text-align: left;
                white-space: nowrap;
                border-bottom: 1px solid #ddd
            }

                .trendingTab ul li {
                    padding: 0 8px;
                    display: inline-block;
                    white-space: nowrap;
                    border-bottom: #fff solid 2px;
                    line-height: 30px;
                    transition: .3s;
                    cursor: pointer
                }

                    .trendingTab ul li.active {
                        background: #f7f7f7;
                        border-bottom: 2px solid #0078BF;
                        transition: .3s;
                        border-radius: 5px 5px 0 0;
                        cursor: default
                    }

        .trendingTabBody {
            padding-top: 5px;
            display: block
        }

            .trendingTabBody .box {
                border-radius: 5px;
                border: 1px solid #d2d6de;
                box-shadow: none;
                margin: 5px 0 0;
                overflow: hidden
            }

                .trendingTabBody .box .heading {
                    padding: 3px 10px;
                    background: #f7f7f7;
                    position: relative
                }

                    .trendingTabBody .box .heading em {
                        width: 15px;
                        height: 15px;
                        float: right;
                        position: relative;
                        right: -3px;
                        top: 2px;
                        z-index: 1;
                        cursor: pointer
                    }

                        .trendingTabBody .box .heading em:after {
                            content: '';
                            position: absolute;
                            top: 6px;
                            right: 0;
                            width: 15px;
                            height: 2px;
                            background: #ccc
                        }

                        .trendingTabBody .box .heading em:before {
                            content: '';
                            position: absolute;
                            top: 6px;
                            right: 0;
                            width: 15px;
                            height: 2px;
                            background: #ccc;
                            transform: rotate(90deg);
                            transition: .3s
                        }

                .trendingTabBody .box .dataBody {
                    display: none
                }

                .trendingTabBody .box.active .heading em:before {
                    transform: rotate(180deg);
                    transition: .3s
                }

                .trendingTabBody .box.active .dataBody {
                    display: block
                }

        .trendingNav {
            display: block;
            position: relative;
            overflow: hidden;
            background: #fff;
            text-align: center
        }

            .trendingNav h3 {
                padding: 0 15px;
                margin: 0;
                font-size: 14px;
                font-weight: 700;
                display: block;
                width: 600px;
                background: #000;
                color: #fff;
                line-height: 40px
            }

            .trendingNav ul {
                padding: 0;
                margin: 0;
                display: block
            }

                .trendingNav ul li {
                    display: block;
                    border-top: 1px solid #e5e5e5;
                    transition: .3s
                }

                    .trendingNav ul li a {
                        padding: 0 10px;
                        font-size: 13px;
                        color: #333;
                        display: block;
                        transition: .3s;
                        line-height: 25px
                    }

                        .trendingNav ul li a em {
                            margin-right: 5px;
                            font-size: 18px;
                            position: relative;
                            top: 3px
                        }

                    .trendingNav ul li.active, .trendingNav ul li:hover {
                        background: #009e73;
                        transition: .3s
                    }

                        .trendingNav ul li.active a, .trendingNav ul li:hover a {
                            color: #fff;
                            transition: .3s
                        }
    </style>
    <style type="text/css">
        .col-xs-15,
        .col-sm-15,
        .col-md-15,
        .col-lg-15 {
            position: relative;
            min-height: 1px;
            padding-right: 10px;
            padding-left: 10px;
        }

        .col-xs-15 {
            width: 20%;
            float: left;
        }

        @@media (min-width: 768px) {
            .col-sm-15 {
                width: 20%;
                float: left;
            }
        }

        @@media (min-width: 992px) {
            .col-md-15 {
                width: 20%;
                float: left;
            }
        }

        @@media (min-width: 1024px) {
            .col-md-15 {
                width: 20%;
                float: left;
            }
        }

        @@media (min-width: 1200px) {
            .col-lg-15 {
                width: 20%;
                float: left;
            }
        }


        #incentive {
            width: 0;
            height: 0;
            overflow: hidden;
            display: none;
        }

            #incentive.active {
                width: 100%;
                height: 100%;
                z-index: 10000;
                position: fixed;
                overflow: auto;
                display: block;
                top: 0;
                left: 0;
                padding: 2%;
                background-color: rgba(0, 0, 0, 0.7);
            }

            #incentive .bg .close {
                opacity: 1;
            }

                #incentive .bg .close em {
                    text-align: center;
                    border-radius: 20%;
                    background-color: #C9302C;
                    padding: 10px 13px;
                    margin: 15px 15px;
                    color: #fff;
                    font-size: 20px;
                    position: fixed;
                    top: -10px;
                    right: -5px;
                    z-index: 1000000;
                }

            #incentive .bg {
                background-color: #79adff;
                /*background-color: #fff;*/
            }

            #incentive .topheadinc {
                background-color: #1b2b3a;
            }

            #incentive .center {
                text-align: center;
            }

        .topheadinc {
            position: relative;
        }

            .topheadinc img {
                position: absolute;
                left: 15px;
                top: 5px;
                width: 125px;
            }

            .topheadinc h2 {
                line-height: 40px;
                font-size: 20px;
            }

        #incentive .topheadincipm {
            background-color: #1b2b3a;
        }

        .topheadincipm {
            position: relative;
        }

            .topheadincipm img {
                position: absolute;
                left: 15px;
                top: 5px;
                width: 125px;
            }

            .topheadincipm h2 {
                line-height: 35px;
                font-size: 15px;
            }

        #incentive .table tbody tr th {
            text-align: center;
            background: #eee;
            font-size: 12px;
        }

        #incentive .table tbody tr td {
            background: #fff;
            text-align: center;
            font-size: 15px;
        }

        #incentive .center img {
            display: inline-block;
        }

        #incentive .list {
            font-family: arial;
            font-size: 12px;
        }

            #incentive .list li {
                margin: 0 0 7px 15px;
                color: #fff;
                padding: 0;
            }

            #incentive .list ul {
                margin: 0;
                padding: 0;
            }

        /*#incentive .table td {
                    border: 2px solid #ffffff;
                }*/

        #incentive .table th,
        #incentive .table td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        /*#incentive .table th {
                        font-size: 10px;
                    }*/

        #incentive .table {
            font-size: 11px;
            font-family: 'Oswald', sans-serif;
        }

        @@media only screen and (max-width:1024px) {
            #incentive .table td {
                padding: 2px !important;
            }

            #incentive .table th,
            #incentive .table td {
                border: 1px solid black;
                border-collapse: collapse;
            }

            #incentive .table td {
                padding: 2px !important;
                font-size: 12px;
            }

            #incentive .table th {
                font-size: 18px;
            }
        }

        @@media only screen and (max-width:990px) {
            #incentive .table td {
                padding: 12px !important;
            }

            #incentive .table th,
            #incentive .table td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        }

        @@media only screen and (max-width: 768px) {

            #incentive .table td {
                padding: 2px !important;
                font-size: 10px;
            }

            #incentive .table th {
                font-size: 12px;
            }

            #incentive .table th,
            #incentive .table td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        }

        @@media only screen and (max-width:640px) {

            #incentive .table td {
                padding: 2px !important;
                font-size: 12px;
            }

            #incentive .table th {
                font-size: 14px;
            }

            #incentive .table th,
            #incentive .table td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        }

        #incentive .table > tbody > tr > th {
            border: 1px solid #ccc;
        }
    </style>
    <link href="~/resources/plugins/owlcarousel/assets/owl.carousel.css" rel="stylesheet" />
    <script src="~/resources/plugins/owlcarousel/owl.carousel.js"></script>

</head>

<body class="skin-blue sidebar-mini" style="">


    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a asp-controller="Home" asp-action="Index" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels
                <span class="logo-mini" style="color: #3C8DBC; font-size: 30px;"><i class="fa fa-heartbeat"></i></span> -->
                <span class="logo-mini">
                    <img src="@companyDetails.Logo">
                </span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">
                    <img src="@companyDetails.Logo">
                </span>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/resources/dist/img/emp.png" class="user-image" alt="User Image">
                                <span class="hidden-xs margin-r-5">@employeeName</span>

                                <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu">

                                <li class="user-header">
                                    <img src="~/resources/dist/img/emp.png" width="160" height="160" class="img-circle" alt="User Image">
                                    <p>
                                        @employeeName
                                        <small>@todayDate</small>
                                    </p>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left" style="">
                                        <a asp-action="Index" asp-controller="Profile" class="btn bg-black btn-flat">My Profile</a>

                                    </div>
                                    <div class="pull-right">
                                        <a asp-action="Logout" asp-controller="Authenticate" class="btn bg-red btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>




        </header>

        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- Sidebar user panel (optional) -->
                <!-- search form -->
                <div class="sidebar-form" style="">
                    <div class="input-group">
                        <input type="text" id="txtSearchMenu" class="form-control ui-autocomplete-input" autocomplete="off" placeholder="Search ...">
                        <span class="input-group-btn">
                            <a data-toggle="modal" data-target="#popEmpDetails" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></a>
                        </span>
                    </div>
                </div>
                <!-- /.search form -->
                <!-- Sidebar Menu -->
                <div id="sideMenuContainer">
                    <ul class="sidebar-menu">
                        @if (roleId == "1" || roleId == "2" || roleId == "3")
                        {
                            <li><a asp-controller="Dashboard" asp-action="Index"><i class="fas fa-home"></i> <span>Dashboard</span></a></li>
                        }
                        else
                        {
                            <li><a asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> <span>Home</span></a></li>
                        }
                        <li class="treeview">
                            <a href="#"><i class="fas fa-square"></i> <span>Square Yards</span><i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a asp-action="Index" asp-controller="AssesmentYear"><i class="fas fa-calendar"></i>
                                <span>Assesment Year</span></a></li>
                                <li><a asp-action="Index" asp-controller="Subsidiary"><i class="fas fa-balance-scale"></i>
                                <span>Legal Entity</span></a></li>
                                <li><a asp-action="Index" asp-controller="Branch"><i class="fas fa-project-diagram"></i>
                                <span>Branch</span></a></li>
                                <li><a asp-action="Index" asp-controller="Location"><i class="fas fa-map-marker-alt"></i>
                                <span>Location</span></a></li>
                                <li><a asp-action="Index" asp-controller="Department"><i class="fas fa-building"></i>
                                <span>Department</span></a></li>
                                <li><a asp-action="Index" asp-controller="Designation"><i class="fas fa-address-card"></i>
                                <span>Designation</span></a></li>
                                <li><a asp-action="Index" asp-controller="LocationType"><i class="fas fa-map-marker-alt"></i>
                                <span>Location Type</span></a></li>
                                <li><a asp-action="Index" asp-controller="PandLname"><i class="fas fa-folder-open"></i>
                                <span>P and L Master</span></a></li>
                                <li><a asp-action="Index" asp-controller="Region"><i class="fas fa-globe-asia"></i>
                                <span>Region</span></a></li>
                                <li><a asp-action="Index" asp-controller="Employeetype"><i class="fas fa-users"></i>
                                <span>Employee Type</span></a></li>
                                <li><a asp-action="Index" asp-controller="Shift"><i class="fas fa-business-time"></i>
                                <span>Shift</span></a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fas fa-building"></i><span>Organization</span><i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a asp-controller="CompanyDirectory" asp-action="Index"><i class="fas fa-project-diagram"></i>
                                <span>List of Company / Branch</span></a></li>
                                <li><a asp-controller="DepartmentDirectory" asp-action="Index"><i class="fas fa-building"></i>
                                <span>Department & Designation</span></a></li>
                                <li><a asp-controller="EmployeeDirectory" asp-action="Index"><i class="fas fa-address-book"></i>
                                <span>Employee Directory</span></a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#"><i class="fas fa-users-cog"></i> <span>HR</span><i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a asp-action="Index" asp-controller="CompanyPolicy"><i class="fas fa-file-alt"></i>
                                <span>Policies</span></a></li>
                                <li><a asp-action="Index" asp-controller="CompanyHolidays"><i class="fas fa-snowman"></i>
                                <span>List of Holidays</span></a></li>
                                <li><a asp-action="Index" asp-controller="AnnouncementAndUpdate"><i class="fas fa-bullhorn"></i>
                                <span>Announcement &amp; Update</span></a></li>
                                <li><a asp-action="Index" asp-controller="CompanyNews"><i class="far fa-newspaper"></i>
                                <span>Company News</span></a></li>
                                <li><a asp-controller="CurrentOpening" asp-action="Index"><i class="fas fa-user-plus"></i>
                                <span>Current Opening</span></a></li>
                                <li><a asp-action="Index" asp-controller="ReferDetail"><i class="fas fa-people-arrows"></i>
    <span>Referral Candidate</span>
</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fas fa-user-tie"></i><span>Employee Master</span><i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a asp-action="Index" asp-controller="EmployeeIncrement"><i class="fas fa-coins"></i>
                                <span>Employee Increment</span></a></li>
                                <li><a asp-action="Index" asp-controller="EmployeeSalary"><i class="fas fa-file-import"></i>
                                <span>Employee Master Import</span></a></li>
                                <li><a asp-action="Index" asp-controller="EmployeeDetail"><i class="fas fa-info-circle"></i>
                                <span>Employee Details</span></a></li>

                                <li><a asp-controller="EmployeeAssets" asp-action="Index"><i class="fas fa-dollar-sign"></i>
                                <span>Assets</span></a></li>
                                <li><a asp-controller="EmployeeShifTiming" asp-action="Index"><i class="fas fa-user-clock"></i>
                                <span>Shift Timing of Employee</span></a></li>
                                <li><a asp-controller="InternalTransfer" asp-action="Index"><i class="fas fa-random"></i>
                                <span>Internal Transfer</span></a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fas fa-tasks"></i><span>Payroll Managment</span><i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a asp-action="Index" asp-controller="EmployeeAttendance"><i class="fas fa-file-upload"></i>
                               <span>Month Attendance Upload</span></a></li>
                                <li><a asp-action="Index" asp-controller="EmployeeArrearsImport"><i class="fas fa-hand-holding-usd"></i>
                                <span>Arrear Upload</span></a></li>
                                <li><a asp-action="Index" asp-controller="EmployeeNonCTC"><i class="fas fa-piggy-bank"></i>
                                <span>Payment/Deduction</span></a></li>
                                <li><a href="#"><i class="fas fa-file-import"></i><span>Salary Posting Import</span></a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fas fa-book-open"></i><span>Reporting</span><i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li class="active"><a asp-action="Index" asp-controller="SalaryRegister"><i class="fas fa-book"></i>
                                <span>Salary Register</span></a></li>
                                <li><a href="#"><i class="far fa-money-bill-alt"></i> <span>Monthly Paid Register</span></a></li>
                                <li><a href="#"><i class="fas fa-dollar-sign"></i><span>Monthly Incentive Register</span></a></li>
                                <li><a href="#"><i class="far fa-calendar-alt"></i> <span>Monthly Attendance Register</span></a></li>
                                <li><a href="#"><i class="far fa-calendar-alt"></i> <span>Yearly Attendance Register</span></a></li>
                                <li><a href="#"><i class="fas fa-book"></i> <span>Arrear Register</span></a></li>
                                <li><a href="#"><i class="fas fa-book"></i> <span>YTD Register</span></a></li>
                                <li><a href="#"><i class="fas fa-book"></i> <span>PI Register</span></a></li>
                                <li><a href="#"><i class="fas fa-file"></i> <span>PF Report</span></a></li>
                                <li><a href="#"><i class="fas fa-file"></i> <span>ESI Report</span></a></li>
                                <li><a href="#"><i class="fas fa-scroll"></i> <span>Muster Roll</span></a></li>
                                <li><a href="#"><i class="fas fa-file"></i> <span>TDS Report</span></a></li>
                                <li><a href="#"><i class="fas fa-file"></i> <span>TDS Annexure</span></a></li>

                                <li><a href="#"><i class="fas fa-receipt"></i> <span>Pay Slip</span></a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fas fa-book"></i><span>Paid Register</span><i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="#"><i class="far fa-money-bill-alt"></i> <span>Salary Paid Register</span></a></li>
                                <li><a href="#"><i class="fas fa-coins"></i> <span>Incentive Paid Register</span></a></li>

                            </ul>
                        </li>
                        <li><a href="#">
                        <i class="fas fa-sign-out-alt"></i><span>Exit Requisition</span>
</a></li>

                        <li><a onclick="ChangePassword()">
                     <i class="fas fa-lock"></i><span>Change Password</span>
</a></li>
                    </ul>
                </div>
            </section>
            <!-- /.sidebar -->
        </aside>




        @RenderBody()
        @await Html.PartialAsync("~/Views/Shared/_CommomModalPopUpPartial.cshtml")
        @await Html.PartialAsync("~/Views/Shared/_LoadingPopup.cshtml")
        @await Html.PartialAsync("~/Views/Shared/_Footer.cshtml")




    </div>

</body>
</html>
<script>
    $('#example').dataTable({
        "iDisplayLength": 10,
        "bDestroy": true,
        "scrollX": true,
        "aLengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
    });
</script>

<script type="text/javascript">

    function ChangePassword() {
        $.get("/Authenticate/ChangePassword", function (data) {
            $("#divHRMSCreate").html(data);
            $("#divModalPop").modal('show');
            $("#modalTitle").text("Change Password");
        })
    }
</script>

<script type="text/javascript">
    function ChangePassword() {
        $.get("/Authenticate/ChangePassword", function (data) {
            $("#divHRMSCreate").html(data);
            $("#divModalPop").modal('show');
            $("#modalTitle").text("Change Password");
        })
    }

    $(document).ready(function () {
        $("#txtSearchMenu").on("keyup", function () {
            if (this.value.length > 0) {
                $(".menuList li").hide().filter(function () {
                    return $(this).text().toLowerCase().indexOf($("#txtMenu").val().toLowerCase()) != -1;
                }).show();
            }
            else {
                $(".menuList li").show();
            }
        });
    });
</script>

