@model HRMS.Core.ReqRespVm.Response.Reporting.AttendanceStatusVM


@{
    int totaldaysinmonth = DateTime.DaysInMonth(Convert.ToInt32(Model.DateYear), Convert.ToInt32(Model.DateMonth));
    decimal presentperc = Convert.ToDecimal((Model.PresentDays / totaldaysinmonth) * 100);
    decimal AbsentPer = Convert.ToDecimal((Model.LOPDays / totaldaysinmonth) * 100);
    decimal ArrearPer = Convert.ToDecimal((Model.ArrearDays / totaldaysinmonth) * 100);

}
<h5>Attendance Status ( @Model.MonthsName - @Model.DateYear )</h5>
<div class="row">
    <div class="col-md-4">@Html.DropDownList("DateMonth", Enumerable.Range(1, 12).Select(x => new SelectListItem { Value = x.ToString(), Text = System.Globalization.CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(x) }), "-Month-", new { @class = "form-control input-sm" })</div>
    <div class="col-md-4">@Html.DropDownList("DateYear", Enumerable.Range(DateTime.Now.Year - 3, 10).Select(x => new SelectListItem { Value = x.ToString(), Text = x.ToString() }), "-Year-", new { @class = "form-control input-sm" })</div>
    <div class="col-md-4"><button class="btn btn-primary btn-sm" type="button" onclick="GetEmployeeAttendance()"> <i class="i-Download1"></i>  Get    </button></div>
</div>
<br />
<div class="row" style="padding:10px">

    <div class="progress progress-md">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="@presentperc" aria-valuemin="0" aria-valuemax="100" style="width: @presentperc%">
            @presentperc %   ( Present )
        </div>
    </div>

    <div class="progress progress-md">
        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="@AbsentPer" aria-valuemin="0" aria-valuemax="100" style="width: @AbsentPer% ">
            @AbsentPer%   ( Absent )
        </div>
    </div>
    <div class="progress progress-md ">
        <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="@ArrearPer" aria-valuemin="0" aria-valuemax="100" style="width: @ArrearPer%">
            @ArrearPer %   ( Arrear )
        </div>
    </div>
</div>



 