@model HRMS.Core.ReqRespVm.RequestVm.ExportReimbursementVM


    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <div class="content-wrapper" style="min-height: 870px;">
        @Html.BuildBreadcrumbNavigation()
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="row" style="margin-top:0;">
                        <div class="col-md-12 col-sm-12">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <div class="box-title">
                                        Export    Reimbursement   &nbsp;

                                    </div>

                                </div>
                                <div class="box-body">
                                    <form id="form" method="post" enctype="multipart/form-data"
                                          asp-action="PostExportReiembursement" asp-controller="EmployeeReimbursement">

                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="DateMonth">  Month</label><span style="color:red">  *</span>
                                                    <select asp-for="DateMonth" class="form-control">
                                                        <option value="">--Select--</option>
                                                        @for (int i = 1; i < 13; i++)
                                                        {
                                                            string fullMonthName = new DateTime(2015, i, 1).ToString("MMMM", System.Globalization.CultureInfo.CreateSpecificCulture("en"));
                                                            <option value="@fullMonthName">@fullMonthName</option>
                                                        }
                                                    </select>
                                                    <span asp-validation-for="DateMonth" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="DateYear">  Year</label><span style="color:red">  *</span>
                                                    <select asp-for="DateYear" class="form-control">
                                                        <option value="">--Select--</option>
                                                        @for (var i = 2019; i < 2050; i++)
                                                        {
                                                            <option value="@i">@i</option>
                                                            if (i == DateTime.Now.Year) { break; }

                                                        }

                                                    </select>
                                                    <span asp-validation-for="DateYear" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="CategoryId">Category</label><span style="color:red">  *</span>
                                                    <select class="form-control" asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.CategoryList ,"Id","Name"))">
                                                        <option value="">--Select--</option>
                                                    </select>
                                                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="Status">Status</label><span style="color:red">  *</span>
                                                    <select class="form-control" asp-for="Status">
                                                        <option value="">---Select---</option>
                                                        <option value="Active">Active</option>
                                                        <option value="Accepted">Accepted</option>
                                                        <option value="Rejected">Rejected</option>

                                                    </select>
                                                    <span asp-validation-for="Status" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <br />
                                                    <input type="submit" class="btn btn-primary  " value="Export" />
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
