@model IEnumerable<HRMS.Core.Entities.Talent.Award>
<script src="~/resources/dist/js/jquery.dataTables.js" type="text/javascript"></script>

<div class="table-responsive">

    <div class="dataTables_wrapper" role="grid">


        <table class="table table-condensed table-striped table-hover table-bordered table-body-nowrap table-head-nowrap dataTable" cellspacing="0" rules="all" border="1" id="example" style="border-collapse:collapse;" aria-describedby="cp_MainContent_widgetExitEmployee_grdExitEmployees_info">
            <thead>
                <tr class="th-primary" role="row">
                    <th>#</th>
                    <th>Emp Code</th>
                    <th>Employee Name</th>
                    <th>Legal Entity</th>
                    <th>Department </th>
                    <th>Designation </th>
                    <th>Award Type</th>
                    <th>Award Name</th>
                    <th>Project </th>
                    <th>Amount</th>
                    <th>Award Date</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
                @{
                    int count = 1;
                    string trclass = string.Empty;
                }
                @foreach (var data in Model)
                {
                    if (count / 2 == 0)
                    {
                        trclass = "even";
                    }
                    else
                    {
                        trclass = "odd";
                    }
                <tr class="@trclass">
                    <td align="left" style="width:2%;" class="sorting_1">
                        @count
                    </td>
                    <td align="left" style="width:5%;" class="sorting_1">
                        @data.EmpCode
                    </td>
                    <td align="left" style="width:5%;" class="sorting_1">
                        @data.EmployeeName
                    </td>
                    <td align="left" style="width:15%;" class="sorting_1">
                        @data.LegalEntity
                    </td>
                    <td align="left" style="width:5%;" class="sorting_1">
                        @data.DepartmentName
                    </td>
                    <td align="left" style="width:5%;" class="sorting_1">
                        @data.DesignationName
                    </td>
                    <td align="left" style="width:5%;" class="sorting_1">
                        @data.AwardTypeName
                    </td>
                    <td align="left" style="width:5%;" class="sorting_1">
                        @data.AwardName
                    </td>
                    <td align="left" style="width:5%;" class="sorting_1">
                        @data.Project
                    </td>
                    <td align="left" style="width:5%;" class="sorting_1">
                        @data.Amount
                    </td>
                    <td align="left" style="width:5%;" class="sorting_1">
                        @data.AwardDate.ToString("dd/MM/yyyy")
                    </td>



                    <td align="center" style="width:10%;" class="sorting_1">
                        <a title="Edit" class="btn btn-primary btn-xs" onclick="UpdateRecord(@data.Id, this)">
                            <i class="fa fa-pencil "></i>
                        </a>
                        <a title="Delete" class="btn btn-xs btn-danger" onclick="Delete(@data.Id, this)">
                            <i class="fa fa-ban"></i>
                        </a>
                    </td>
                </tr>
                    count++;
                }

            </tbody>
        </table>

    </div>


</div>
<script>
        $('#example').dataTable({
            "iDisplayLength": 10,
            "bDestroy": true,
            "scrollX": true,
            "aLengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
        });
</script>