@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor;
@using HRMS.Admin.UI.Helpers;
@using HRMS.Core.Entities.Organisation;
@model IEnumerable<HRMS.Core.ReqRespVm.Response.UserManagement.MenuSubMenuVm>
@using HRMS.Core.Entities.Payroll;
@{
    var companyDetails = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<Company>("companyDetails");
    var todayDate = DateTime.Now.ToLongDateString();
    var employeeName = HttpContextAccessor.HttpContext.Session.GetString("UserName");
    var roleId = HttpContextAccessor.HttpContext.Session.GetString("RoleId");
}
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <!-- search form -->
        <div class="sidebar-form" style="">
            <div class="input-group">
                <input type="text" id="txtSearchMenu" class="form-control ui-autocomplete-input"   placeholder="Search ...">
                <span class="input-group-btn">
                    <a data-toggle="modal" data-target="#popEmpDetails" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></a>
                </span>
            </div>
        </div>
        <!-- /.search form -->
        <!-- Sidebar Menu -->
        <div id="sideMenuContainer">
            <ul class="sidebar-menu menuList">
                @if (roleId == "1" || roleId == "2" || roleId == "3")
                {
                    <li><a asp-controller="Dashboard" asp-action="Index"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
                }
                else
                {
                    <li><a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> <span>Home</span></a></li>
                }
                @foreach (var data in Model.GroupBy(x => x.MenuName))
                {
                    <li class="treeview">
                        <a href="#"><i class="@data.First().MenuIcon"></i> <span>@data.First().MenuName</span><i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            @foreach (var item in data)
                            {
                                <li><a asp-action="@item.ActionName" asp-controller="@item.Controller"><i class="@item.SubMenuIcon"></i> <span> @item.SubMenuName</span></a></li>
                            }
                        </ul>
                    </li>
                }

                
            </ul>
        </div>
    </section>
    <!-- /.sidebar -->
</aside>

 

<script type="text/javascript">
    $(document).ready(function () {
        $("#txtSearchMenu").on("keyup", function () {
            if (this.value.length > 0) {
                $(".menuList li").hide().filter(function () {
                    return $(this).text().toLowerCase().indexOf($("#txtSearchMenu").val().toLowerCase()) != -1;
                }).show();
            }
            else {
                $(".menuList li").show();
            }
        });
    });
</script>

@*<script>
      $( function() {
        var availableTags = [
          "ActionScript",
          "AppleScript",
          "Asp",
          "BASIC",
          "C",
          "C++",
          "Clojure",
          "COBOL",
          "ColdFusion",
          "Erlang",
          "Fortran",
          "Groovy",
          "Haskell",
          "Java",
          "JavaScript",
          "Lisp",
          "Perl",
          "PHP",
          "Python",
          "Ruby",
          "Scala",
          "Scheme"
        ];
        $("#txtSearchMenu").autocomplete({
          source: availableTags
        });
      });
    </script>*@