@model IEnumerable<HRMS.Core.ReqRespVm.Response.Reimbursement.EmployeeReimbursementVM>
<div class="content-wrapper">
    <section class="content-header">
        <div class="header-icon">
            <i class="fa fa-handshake-o"></i>
        </div>
        <div class="header-title">
            <h1>Reimbursement </h1>
            <small>Employee Dashboard</small>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home"><i class="pe-7s-home"></i> Home</a></li>
                <li class="active">Reimbursement</li>
            </ol>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="panel panel-bd  ">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>
                                <i class="fa fa-plus-circle"></i> List of  Reimbursement

                            </h4>

                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="dataTableExample1" class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Employee</th>
                                        <th>Category</th>
                                        <th>Month</th>
                                        <th>Year</th>
                                        <th>Invocie</th>
                                        <th>Currency</th>
                                        <th>Amount</th>
                                        <th>Attachment</th>
                                        <th>Status</th> 

                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int count = 1;
                                        string trclass = string.Empty;
                                    }
                                    @foreach (var data in Model)
                                    {
                                        if (count / 2 == 0)
                                        {
                                            trclass = "even";
                                        }
                                        else
                                        {
                                            trclass = "odd";
                                        }
                                        <tr class="@trclass">
                                            <td align="left" style="width:5%;" class="sorting_1">
                                                @count
                                            </td>
                                            <td align="left" style="width:20%;" class="sorting_1">
                                                @data.EmployeeName
                                            </td>
                                            <td align="left" style="width:15%;" class="sorting_1">
                                                @data.Category
                                            </td>
                                            <td align="left" style="width:5%;" class="sorting_1">
                                                @data.Month

                                            </td>
                                            <td align="left" style="width:5%;" class="sorting_1">
                                                @data.Year
                                            </td>

                                            <td align="left" style="width:15%;" class="sorting_1">
                                                @data.Invocie
                                            </td>
                                            <td align="left" style="width:5%;" class="sorting_1">
                                                @data.Currency
                                            </td>
                                            <td align="left" style="width:10%;" class="sorting_1">
                                                @data.Amount
                                            </td>
                                            <td align="left" style="width:10%;" class="sorting_1">
                                                <a href="@data.Attachment" target="_blank"><i class="fa fa-download"></i> </a>
                                            </td>
                                            <td align="left" style="width:10%;" class="sorting_1">
                                                @if (data.Status == null || data.Status == "")
                                                {
                                                    @:Active
                                                }
                                                else
                                                {
                                                    <span>@data.Status</span>
                                                }
                                            </td> 

                                        </tr>
                                        count++;
                                    }

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

