@model IEnumerable<HRMS.Core.Entities.UserManagement.AuthenticateUser>

<table id="tblDataList" class="table table-striped table-bordered responsive" style="width:100%">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Display User Name</th>
            <th>Role</th>
            <th>Is Locked</th>
            <th>Is Password Expired</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model)
        {
            <tr>
                <td>
                    @data.UserName
                </td>
                <td>
                    @data.DisplayUserName
                </td>
                <td>
                    @data.RoleId
                </td>
                <td>
                    @data.IsLocked
                </td>
                <td>
                    @data.IsPasswordExpired
                </td>

                <td>
                    <a class="btn btn-outline-success pull-right" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'  style='color:#DD4B39'></i>" onclick="UpdateRecord(@data.Id, this)">
                        <i class="fa fa-edit" style="color:#3C8DBC"></i>

                    </a>

                    <a class="btn btn-outline-danger pull-right" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'  style='color:#DD4B39'></i>" onclick="Delete(@data.Id, this)">
                        <i class="fa fa-trash" style="color:#DD4B39"></i>

                    </a>
                </td>
            </tr>
        }
    </tbody>

</table>