@model IEnumerable<HRMS.Core.ReqRespVm.Response.Employee.EmployeeDetailVm>
@{
    string sortIcon = "sortingIco";
    string ndcSortBy = sortIcon;
    string brandNameSortBy = sortIcon;
    string gpiSortBy = sortIcon;

    if (Model.Any())
    {
        var sortIconAscDesc = Model.First().OrderBy.ToLower().Trim() == "asc" ? " ace" : " desc";
        switch (Model.First().SortBy)
        {
            case "NDC":
                ndcSortBy = sortIcon + sortIconAscDesc;
                break;
            case "BrandName":
                brandNameSortBy = sortIcon + sortIconAscDesc;
                break;
            case "GPI":
                gpiSortBy = sortIcon + sortIconAscDesc;
                break;
            default:
                sortIcon = "sortingIco";
                brandNameSortBy = sortIcon;
                gpiSortBy = sortIcon;
                ndcSortBy = sortIcon + " ace";
                break;
        }

    }
    else
    {
        sortIcon = "sortingIco";
        brandNameSortBy = sortIcon;
        gpiSortBy = sortIcon;
        ndcSortBy = sortIcon + "ace";
    }
    var pageHeaderModel = new PaggerHeaderModel();
    @if (Model != null && Model.Any())
    {
        pageHeaderModel.TotalRecordCount = Model.First().TotalRecords;
        pageHeaderModel.RecordCount = Model.Count();
        pageHeaderModel.PageIndex = Model.First().PageIndex;
        pageHeaderModel.PageSize = (int)Model.First().PageSize;

    }

}


<div class="row">

    <div class="col-md-12">
        <div class="row" style="margin-top:0;">
            <div class="col-md-12 col-sm-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <div class="box-title">
                            <i class="fa fa-user-circle-o fa-lg"></i>   List of Employee &nbsp;

                        </div>
                        <a class="btn btn-primary pull-right btn-xs" asp-action="ExportToExcel" asp-controller="EmployeeDetail" title="Export All Employee">
                            <i class="fa fa-download"> &nbsp; Export</i>
                        </a>
                    </div>
                    <div class="box-body">
                        @if (Model.Any())
                        {
                            @Html.HRMSTableHeader(pageHeaderModel)
                            <div class="table-fixed-header has-v-scroll _done">
                                <div style="max-height:375px; min-height:10px;" class="scrollDiv" id="tblDrugSearchList">
                                    <table class="table table-hover table-striped singleSelect" cellspacing="0" cellpadding="0" style="width:100%; min-width: 1000px;">
                                        <thead>
                                            <tr>
                                                <th style="width: 5%">
                                                    <span>
                                                        <a href="javascript:void(0)" onclick="jqGrigTable.fn_GetSortingItem('EmpCode', '@Model.First().OrderBy', fn_GetDrugSearchUrl())">EmpCode</a>
                                                    </span>
                                                </th>
                                                <th>
                                                    <span>
                                                        <a href="javascript:void(0)" onclick="jqGrigTable.fn_GetSortingItem('EmployeeName', '@Model.First().OrderBy', fn_GetDrugSearchUrl())">EmployeeName</a>
                                                    </span>
                                                </th>
                                                <th>
                                                    <span>
                                                        <a href="javascript:void(0)" onclick="jqGrigTable.fn_GetSortingItem('JoiningDate', '@Model.First().OrderBy', fn_GetDrugSearchUrl())">Joining Date</a>
                                                    </span>
                                                </th>
                                                <th>
                                                    <span>
                                                        <a href="javascript:void(0)" onclick="jqGrigTable.fn_GetSortingItem('DepartmentName', '@Model.First().OrderBy', fn_GetDrugSearchUrl())">Department Name</a>
                                                    </span>
                                                </th>
                                                <th>
                                                    <span>
                                                        <a href="javascript:void(0)" onclick="jqGrigTable.fn_GetSortingItem('DesignationName', '@Model.First().OrderBy', fn_GetDrugSearchUrl())">Designation Name</a>
                                                    </span>
                                                </th>
                                                <th>
                                                    <span>
                                                        <a href="javascript:void(0)" onclick="jqGrigTable.fn_GetSortingItem('Location', '@Model.First().OrderBy', fn_GetDrugSearchUrl())">Location</a>
                                                    </span>
                                                </th>
                                                <th>
                                                    <span>
                                                        <a href="javascript:void(0)" onclick="jqGrigTable.fn_GetSortingItem('LegalEntity', '@Model.First().OrderBy', fn_GetDrugSearchUrl())">LegalEntity</a>
                                                    </span>
                                                </th>
                                                <th>
                                                    <span>
                                                        Action
                                                    </span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var data in Model)
                                            {
                                                <tr>
                                                    <td>@data.EmpCode</td>
                                                    <td>@data.EmployeeName</td>
                                                    <td>@data.JoiningDate</td>
                                                    <td>@data.DepartmentName</td>
                                                    <td>@data.DesignationName</td>
                                                    <td>@data.Location</td>
                                                    <td>@data.LegalEntity</td>
                                                    <td></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-8">
                                    <ul class="pagination pagination-md" style="margin-top:20px;">
                                        @if (Model.Any())
                                        {
                                            @Html.Paging((int)Model.First().PageSize, Model.First().PageIndex, 5, Model.First().TotalRecords, @"fn_GetDrugSearchUrl()")
                                        }
                                    </ul>
                                </div>
                                <div class="col-xs-4">
                                    @*<select class="form-control pull-right" onchange="jqGrigTable.fn_GetTablePageSize(this,fn_GetDrugSearchUrl())" asp-items="@Extensions.GetPageSizeListSelect()" id="pagesizevalue" style="width:70px;"></select>*@
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-xs-12">
                                <div class="pull-left marB10">
                                    <span class="c-red">
                                        No Record Found.
                                    </span>
                                </div>
                            </div>
                        }



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "paging": false,
        });
    });

    function fn_GetDrugSearchUrl() {
        return "/EmployeeDetail/GetFilteredData";
    }
</script>
