@{
    Layout = null;
}
@model IEnumerable<HRMS.Core.ReqRespVm.Response.Organisation.LegalEntityVM>

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor;
@using HRMS.Admin.UI.Helpers;
@using HRMS.Core.Entities.Organisation;
 
@{
    var companyDetails = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<Company>("companyDetails");
   
}

<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>  Dashboard || @companyDetails.Name </title>
    <link rel="shortcut icon" href="@companyDetails.FavIcon" type="image/x-icon" />
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

        body {
            font-family: 'Maven Pro', sans-serif
        }

        body {
            background-color: #eee
        }

        .add {
            border-radius: 20px
        }

        .card {
            border: none;
            border-radius: 10px;
            transition: all 1s;
            cursor: pointer;
            min-height: 157px;
        }

            .card:hover {
                -webkit-box-shadow: 3px 5px 17px -4px #777777;
                box-shadow: 3px 5px 17px -4px #777777
            }

        .ratings i {
            color: green
        }

        .apointment button {
            border-radius: 20px;
            background-color: #eee;
            color: #000;
            border-color: #eee;
            font-size: 13px
        }

        .addborder {
            border: 2px solid #1f8ccf;
            border-radius: 10px;
            box-shadow: 0px 0px 10px #000;
        }
    </style>
    <style>

        .color-line {
            background: #f7f9fa;
            height: 6px;
            background-image: -webkit-linear-gradient(left,#f7f9fa,#f7f9fa 25%,#9b59b6 25%,#9b59b6 35%,#3498db 35%,#3498db 45%,#62cb31 45%,#62cb31 55%,#ffb606 55%,#ffb606 65%,#e67e22 65%,#e67e22 75%,#e74c3c 85%,#e74c3c 85%,#c0392b 85%,#c0392b 100%);
            background-image: -moz-linear-gradient(left,#f7f9fa,#f7f9fa 25%,#9b59b6 25%,#9b59b6 35%,#3498db 35%,#3498db 45%,#62cb31 45%,#62cb31 55%,#ffb606 55%,#ffb606 65%,#e67e22 65%,#e67e22 75%,#e74c3c 85%,#e74c3c 85%,#c0392b 85%,#c0392b 100%);
            background-image: -ms-linear-gradient(left,#f7f9fa,#f7f9fa 25%,#9b59b6 25%,#9b59b6 35%,#3498db 35%,#3498db 45%,#62cb31 45%,#62cb31 55%,#ffb606 55%,#ffb606 65%,#e67e22 65%,#e67e22 75%,#e74c3c 85%,#e74c3c 85%,#c0392b 85%,#c0392b 100%);
            background-image: linear-gradient(to right,#CC2AC0,#CC2AC0 25%,#9b59b6 25%,#9b59b6 35%,#3498db 35%,#3498db 45%,#62cb31 45%,#62cb31 55%,#ffb606 55%,#ffb606 65%,#e67e22 65%,#e67e22 75%,#e74c3c 85%,#e74c3c 85%,#c0392b 85%,#c0392b 100%);
            background-size: 100% 6px;
            background-position: 50% 100%;
            background-repeat: no-repeat
        }
    </style>
</head>
<body oncontextmenu='return false' class='snippet-body'>
    <div class="color-line"> </div>
    <div class="container mt-1 mb-1">
        <div class="d-flex justify-content-between mb-1">
            <span><img src="@companyDetails.Logo" style="width:100%" alt="" class="img-fluid"></span>
            <a asp-action="Logout" asp-controller="Authenticate" class="btn btn-success add"><i class="fa fa-power-off"></i> Log Out</a>
        </div>

        <div class="row g-2">
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <div class="card p-2 py-3 text-center @("divId"+item.Id)" onclick="selectfunction(@item.Id,this)" id="@("divId"+item.Id)">
                        <input type="hidden" name="hdnDivLoop" value="@("divId"+item.Id)" />
                        <input type="hidden" id="@("hdnName"+item.Id)" name="@("hdnName"+item.Id)" value="@item.Name" />

                        <div class="img mb-2"> <img src="@item.Logo" width="80" class="rounded-circle"> </div>
                        <h5 class="mb-0">@item.Code</h5> <small>@item.Name</small>

                    </div>
                </div>
            }

        </div>
        <input type="hidden" name="hdnsubsidiaryId" id="hdnsubsidiaryId" value="" />
        <input type="hidden" name="hdnsubsidiaryName" id="hdnsubsidiaryName" value="" />
        <div class="d-flex justify-content-between mt-1 text-center">
            <div class="row " style="margin-top: -35px;">
                <div class="col-lg-3 col-md-4 col-sm-12 col-lg-offset-3 col-md-offset-2 mt-5">
                    <button id="btnSkip" class="btn btn-primary btn-block">Skip</button>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 mt-5">
                    <button id="btnContinue" class="btn btn-primary btn-block" disabled>Continue</button>
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("~/Views/Shared/_LoadingPopup.cshtml")
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js'></script>
    <script>
        $("#btnSkip").click(function () {
            location.href = "/Home/Index";
        });
        $("#btnContinue").click(function () {
            SetSessionValue($('#hdnsubsidiaryId').val(), $('#hdnsubsidiaryName').val());
        });
        function selectfunction(Id, event) {
           
            $('input[name^="hdnDivLoop"]').each(function () {
                var loopid = $(this).val().substr(5);
                if (Id == loopid) {
                    $("#divId" + loopid).addClass("addborder");
                    $('#btnContinue').removeAttr("disabled");
                    $('#hdnsubsidiaryId').val(loopid);
                    $('#hdnsubsidiaryName').val($("#hdnName" + loopid).val());
                    
                }
                else {

                    $("#divId" + loopid).removeClass("addborder");
                   
                }
            });
             
        }
        function SetSessionValue(id, name) {
            $("#divLoader").modal('show');
            $.get("/Dashboard/SetSessionValue", { id: id, Name: name }, function (data) {
                location.href = "/Home/Index";
                $("#divLoader").modal('hide');
            })
        }
    </script>
</body>
</html>


