@{
    Layout = null;
}
@model IEnumerable<HRMS.Core.ReqRespVm.Response.Organisation.SubsidiaryVM>

<!doctype html>
<html>
<head>
 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/LoginJsCss/css/style.css">
    <script src="~/Jquery/jquery.min.js"></script>
    <style> 
        .box:hover{background:#2bbea1 !important;}
        .box:hover p{color:#fff !important}
        a:hover{ text-decoration:none !important}
        .btn-primary{background:#2bbea1 !important; border:1px solid #2bbea1 !important}
        .btn-primary:hover{background:#0069d9 !important; border:1px solid #0069d9 !important}
    </style>
</head>
<body>

    <section class="container">
        <div class="row">
            @foreach (var data in Model)
            {
                
                <a href="javascript:void(0)" onclick="SelectSubsidry('@data.Id')">
                    <div class="col-lg-3 col-12 mt-5">
                        <div class="box d-block">
                            <img src="@data.Logo" alt="" class="img-fluid">
                            <p class="text-center">@data.Code   </p>
 
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Kudo Tech || Dashboard </title>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

        body {
            font-family: 'Maven Pro', sans-serif
        }

        body {
            background-color: #eee
        }

        .add {
            border-radius: 20px
        }

        .card {
            border: none;
            border-radius: 10px;
            transition: all 1s;
            cursor: pointer;
            min-height: 157px;
        }

            .card:hover {
                -webkit-box-shadow: 3px 5px 17px -4px #777777;
                box-shadow: 3px 5px 17px -4px #777777
            }

        .ratings i {
            color: green
        }

        .apointment button {
            border-radius: 20px;
            background-color: #eee;
            color: #000;
            border-color: #eee;
            font-size: 13px
        }

        .addborder {
            border: 2px solid #1f8ccf;
            border-radius: 10px;
            box-shadow: 0px 0px 10px #000;
        }
    </style>
</head>
<body oncontextmenu='return false' class='snippet-body'>
    <div class="container mt-1 mb-1">
        <div class="d-flex justify-content-between mb-1">
            <span><img src="~/LoginJsCss/images/logo.png" style="width:20%" alt="" class="img-fluid"></span>
            <a asp-action="Logout" asp-controller="Authenticate" class="btn btn-success add"><i class="fa fa-power-off"></i> Log Out</a>
        </div>
        @*<div class="d-flex justify-content-between mb-2">
                <div class="row" style="padding-left: 37%;">
                    <div class="col-md-5">
                        <div class="card p-2 py-3 text-center">
                            <div class="img mb-2 divSelect"> <img src="~/LoginJsCss/images/logo.png" width="100px;"> </div>
                            <h5 class="mb-0">KUDOTECH</h5> <small>KUDOTECH HRMS</small>
 
                        </div>
                    </div>
                </div>
            </div>*@
        <div class="row g-2">
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <div class="card p-2 py-3 text-center @("divId"+item.Id)" onclick="selectfunction(@item.Id,this)" id="@("divId"+item.Id)">
                        <input type="hidden" name="hdnDivLoop" value="@("divId"+item.Id)" />
                        <div class="img mb-2"> <img src="@item.Logo" width="80" class="rounded-circle"> </div>
                        <h5 class="mb-0">@item.Code</h5> <small>@item.Name</small>

                    </div>
                </div>
            }

        </div>
        <input type="hidden" name="hdnsubsidiaryId" id="hdnsubsidiaryId" value="" />
        <input type="hidden" name="hdnsubsidiaryName" id="hdnsubsidiaryName" value="" />
        <div class="d-flex justify-content-between mt-1 text-center">
            <div class="row " style="margin-top: -35px;">
                <div class="col-lg-3 col-md-4 col-sm-12 col-lg-offset-3 col-md-offset-2 mt-5">
                    <button id="btnSkip" class="btn btn-primary btn-block">Skip</button>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 mt-5">
                    <button id="btnContinue" class="btn btn-primary btn-block" disabled>Continue</button>
                </div>
            </div>
        </div>
    </div>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js'></script>
    <script>
        $("#btnSkip").click(function () {
            location.href = "/Home/Index"
        });
        $("#btnContinue").click(function () {

            SetSessionValue($('#hdnsubsidiaryId').val());
        });
        function selectfunction(Id, event) {
            $('input[name^="hdnDivLoop"]').each(function () {
                var loopid = $(this).val().substr(5);
                if (Id == loopid) {
                    $("#divId" + loopid).addClass("addborder");
                    $('#btnContinue').removeAttr("disabled");
                    $('#hdnsubsidiaryId').val(loopid);
                }
                else {
                    $("#divId" + loopid).removeClass("addborder");
                }
            });

        }

        function SetSessionValue(id) {
            $.get("/Dashboard/SetSessionValue", { id: id }, function (data) {

            })
        }
    </script>
</body>
</html>
 
<script type="text/javascript">
    function SelectSubsidry(id) {
        $("#btnContinue").removeClass().addClass("btn btn-primary btn-block mt-5")
    }

    $(".box").click(function(){
      $(this).css({"background-color":"#2bbea1", "color":"#fff"});
    });
</script>
 

